.emision-remitos {
    
    // .inline-group {
    //     display: flex;
    //     label {
    //         padding: 2% 3% 0% 0%;
    //     }
    // }

    .checkbox-todoPendiente {
        padding-left: 5%;
    }

    .tabs-ingreso {
        padding: 1.5%;

        .subtotales-container {
            padding: 0 5% 1%;
            .subtotales-titulo {
                font-size: 1rem;
            }

            .subtotales-content {
                border-radius: 7px;
                background: #d4d4de;

                td {
                    border-top: 0px !important;
                }
            }
        }
    }

    .lista-filtrada-proveedores {
        position: absolute;
        z-index: 9999999;
        /* opacity: 0; */
        top: 81px;
        left: 77px;
    }

    .tipo-compra-dropdown {
        padding: 0 2%;
        margin-bottom: 1px;
    }

    .custom-card {
        .custom-card-content {
            .inline-group {
                .without-padding {
                    padding: 2px 8px 0px 8px !important;
                }
            }

            .observaciones {
                margin-bottom: 2px;
            }

            .text-area-observaciones {
                
            }
        }
        
    }

    .custom-card-container {
        .card-observaciones {
            .observaciones {
                padding: 1%;
            }
        }

        .card-total {
            .card-total-content {
                padding: 1.7%;
            }

            .deposito {
                display: flex;
                justify-content: flex-end;
                div {
                    margin-bottom: 5px;
                    width: 50%;
                }
            }
        }

        
    }

    .btn-container {
        display: flex;
        flex-direction: column;
        .btn-ingreso-from {
            float: none;
            margin: 7% 0;
        }
    }

    .total-comprobante {
        padding-top: 2%;
    }

    .titulo-cotizacion {
        font-weight: bold;
    }

    .card-flex-column-reverse {
        display: flex;
        flex-direction: column-reverse;
    }

    .pre-numero-input {
        width: 30%;
        margin-right: 3px;
    }


    .tabs-forma-pago {
        .fpago-content {
            display: flex;
            justify-content: space-between;
            .txt-area-container {
                width: 38%;
                .text-area-forma-pago {
                    height: 78px;
                }
            }
        }
    }
}



.without-padding {
    padding: 0;
}

.inline-flex {
    display: inline-flex
}