.ingreso-form {
    
    // .inline-group {
    //     display: flex;
    //     label {
    //         padding: 2% 3% 0% 0%;
    //     }
    // }

    .checkbox-todoPendiente {
        padding-left: 5%;
    }

    .tabs-ingreso {
        padding: 1.5%;
    }

    .lista-filtrada-proveedores {
        position: absolute;
        z-index: 9999999;
        /* opacity: 0; */
        top: 81px;
        left: 77px;
    }

    .tipo-compra-dropdown {
        padding: 0 2%;
        margin-bottom: 1px;
    }

    .custom-card {
        .custom-card-content {
            .inline-group {
                .without-padding {
                    padding: 2px 8px 0px 8px !important;
                }
            }
        }
        
    }

    .custom-card-container {
        .card-observaciones {
            .observaciones {
                padding: 1%;
            }
        }

        .card-total {
            .card-total-content {
                padding: 1.7%;
            }
        }
    }

    .btn-container {
        display: flex;
        flex-direction: column;
        .btn-ingreso-from {
            float: none;
            margin: 7% 0;
        }
    }

}