@import '../../../../sass/conf/conf';

.logo-container {
    padding: 10%;
    h2 {
        // text-align: center;
        opacity: 0.9;
    }
    img {
        display: block;
        margin: 5% auto;
    }
}