<ba-card cardTitle="{{titulo}}" class="emision-remitos">
    <form #ventForm="ngForm">
        <div class="row">
            <div class="col-sm-2">
                <div class="form-group inline-group">
                    <label for="cliente">Cliente</label>
                    <input id="clienteSeleccionado" (blur)="onBlurInputCliente($event)" (ngModelChange)="onChangeInputCliente($event)"
                        required
                        name="clPadCod"
                        [(ngModel)]="cliente.padronCodigo" type="text" class="form-control" placeholder=""
                        (keyup.enter)="onEnterInputProv($event)" (keydown.arrowdown)="keyPressInputTexto($event)('down')"
                        (keydown.arrowup)="keyPressInputTexto($event)('up')">
                </div>
            </div>

            <popup-lista *ngIf="cliente.padronCodigo && cliente.padronCodigo.length > 0" [items]="clientes.filtrados.asObservable().distinctUntilChanged()"
                [keysToShow]="['padronApelli', 'padronCodigo']" [onClickItem]="onClickPopupCliente" [fatherPosition]="popupListaService.getOffsetOfInputCliente('clienteSeleccionado')">
            </popup-lista>

            <div class="col-sm-3">
                <div class="form-group">
                    <!-- <input name="clPadApe" [disabled]="disabledClienteCustom" [(ngModel)]="cliente.padronApelli" type="text" class="form-control" -->
                    <input disabled name="clPadApe" [(ngModel)]="cliente.padronApelli" type="text" class="form-control"
                        id="nombreCliente" placeholder="">
                </div>
            </div>
            <div class="col-sm-2">
                <div class="form-group inline-group">
                    <label for="cuit">CUIT</label>
                    <!-- <input name="clCuit" (blur)="onBlurCuit($event)" [disabled]="disabledClienteCustom" [(ngModel)]="cliente.cuit" -->
                    <input disabled name="clCuit" (blur)="onBlurCuit($event)" [(ngModel)]="cliente.cuit"
                        type="text" class="form-control" id="cuitCliente" placeholder="">
                </div>
            </div>

            <!-- <div *ngIf="disabledClienteCustom" class="col-sm-1"> -->
            <div class="col-sm-1">
                <div class="form-group inline-group">
                    <label for="cuit">IVA</label>
                    <!-- <input name="clDscCort" disabled [(ngModel)]="cliente.condIva.descCorta" type="text" class="form-control" id="cuit" -->
                    <input name="clDscCort" disabled [ngModel]="cliente.condIva ? cliente.condIva.descCorta : ''" type="text" class="form-control" id="cuit"
                        placeholder="">
                </div>
            </div>

            <!-- <div *ngIf="!disabledClienteCustom" class="col-sm-1 form-group inline-group tipo-compra-dropdown">
                <label for="tipoCompra">IVA:</label>
                <select required [compareWith]="compareIvaSelect" name="clCondIva" [(ngModel)]="cliente.condIva" [disabled]="disabledClienteCustom"
                    class="form-control without-padding" [ngStyle]="{padding: '0px 8px 0px 8px'}" id="tipoCompra">
                    <option *ngFor="let sIva of sisSitIvas | async" [ngValue]="sIva">
                        {{sIva.descCorta}}
                    </option>
                </select>
            </div> -->

            <div class="col-sm-2">
                <div class="form-group inline-group">
                    <label for="cteTipo">Tipo Operacion:</label>
                    <select required name="clTipOp" [(ngModel)]="tipoOperacion" (ngModelChange)="onChangeTipoOperacion($event)" class="form-control without-padding"
                        [ngStyle]="{padding: '0px 8px 0px 8px'}" id="tipoOperacionDropdown">
                        <option *ngFor="let tipoOp of tiposOperacion | async" [ngValue]="tipoOp">
                            {{tipoOp.descripcion}}
                        </option>
                    </select>
                </div>
            </div>

            <div class="col-sm-2">
                <div class="form-group inline-group">
                    <label class="add-item-label" for="depositoInput">Deposito: </label>
                    <select required [compareWith]="utilsService.dropdownCompareWith" name="clDep" [(ngModel)]="deposito" class="form-control without-padding">
                        <option *ngFor="let dep of depositos | async" [ngValue]="dep">
                            {{dep.descripcion}}
                        </option>
                    </select>
                </div>
            </div>
        </div>

        <div *ngIf="dataVendedor.vendedor.idVendedor && dataVendedor.vendedor.idVendedor" class="row">
            <div class="input-vend">
                <label for="idInputVendedor">Vendedor:</label>
                <input disabled name="clAuxNomCom" [(ngModel)]="dataVendedor.vendedor.auxNombreCompleto" type="text" class="form-control"
                    id="idInputVendedor">
            </div>
            <div class="checkbox-vend">
                <ba-checkbox name="clDtVenInc" [(ngModel)]="dataVendedor.incluir" [label]="'Incluir'" [ngModelOptions]="{standalone: true}"></ba-checkbox>
            </div>
        </div>

        <div class="row custom-card-container">
            <custom-card class="col-sm-5" title="Comprobante">
                <div class="row">

                    <div class="col-sm-3">
                        <div class="form-group inline-group">
                            <label for="cteTipo">Cte:</label>
                            <select required name="clCompTip" [(ngModel)]="comprobante.tipo" 
                                    (ngModelChange)="onChangeTipoComprobante($event)"
                                class="form-control without-padding" [ngStyle]="{padding: '1px 8px 0px 8px'}" id="cteTipo">
                                <option *ngFor="let tipoComp of tiposComprobantes | async" [ngValue]="tipoComp">
                                    {{tipoComp.descCorta}}
                                </option>
                            </select>
                        </div>
                    </div>

                    <div class="col-sm-1" style="padding: 0;">
                        <div class="form-group inline-group">
                            <select *ngIf="comprobante && comprobante.tipo && comprobante.tipo.letras" required name="letraSelct" [(ngModel)]="comprobante.letra" class="form-control without-padding" 
                                    id="cteTipo">
                                <option *ngFor="let letra of comprobante.tipo.letras" [ngValue]="letra">
                                    {{ letra.letra }}
                                </option>
                            </select>
                        </div>
                    </div>

                    <div class="col-sm-8">
                        <div *ngIf="!(comprobante.tipo && comprobante.tipo.numerador)" class="form-group inline-group">
                            <label for="cteNro">Nro:</label>
                            <select required disabled id="selectPtoVentaNum" class="form-control" [ngStyle]="{padding: '1px 8px 0px 8px'}" name="clCompNro">
                                <option [ngValue]="null">
                                </option>
                            </select>
                        </div>

                        <div *ngIf="comprobante.tipo && comprobante.tipo.numerador" class="form-group inline-group">
                            <label for="cteNro">Nro:</label>

                            <select required id="selectPtoVentaNum" class="form-control" [ngStyle]="{padding: '1px 8px 0px 8px'}"
                                name="clCompNro" [(ngModel)]="comprobante.numerador" (ngModelChange)="onChangePtoVentaNro($event)">
                                <option *ngFor="let upNum of comprobante.tipo.numerador" [ngValue]="upNum">
                                    {{
                                    upNum.numero.ptoVenta.toString().padStart(4, '0')
                                    }} - {{
                                    upNum.numero.numero.toString().padStart(8, '0')
                                    }}
                                </option>
                            </select>
                        </div>
                    </div>
                </div>

                <div class="row">
                    <!-- <div class="col-sm-5"></div> -->
                    <div class="col-sm-5">
                        <div class="form-group inline-group">
                            <label for="cteMoneda">Moneda:</label>
                            <select required [compareWith]="compareFnMonedas" name="compMoneda" [(ngModel)]="comprobante.moneda" class="form-control without-padding" [ngStyle]="{padding: '2px 8px 0px 8px'}" id="cteMoneda">
                                <option *ngFor="let mon of monedas | async" [ngValue]="mon">
                                    {{mon.descripcion}}
                                </option>
                            </select>
                        </div>
                    </div>

                    <div class="col-sm-7">
                        <div class="form-group inline-group last-child-custom-card">
                            <label for="fechaComprobante">Fecha: </label>
                            <div class="input-group">
                                <!-- Deshabilito la fecha si NÓ está seleccionado el cliente, el tipo comprobante y seteado el ptoventa -->
                                <input required [disabled]="!(cliente && cliente.padronCodigo && comprobante && comprobante.tipo && comprobante.numerador.numero.ptoVenta)"
                                    (blur)="onBlurFechaComprobante($event)" (keyup.enter)="onBlurFechaComprobante($event)"
                                    class="form-control" placeholder="dd/mm/aaaa" name="dp1" [(ngModel)]="comprobante.fechaComprobante"
                                    ngbDatepicker (ngModelChange)="onModelChangeFechaComp($event, d)" #dComp="ngbDatepicker">
                                <div class="input-group-append">
                                    <button class="btn btn-outline-secondary" (click)="dComp.toggle()" type="button"
                                        style="height: 100%;">
                                        <img src="assets/img/calendar-icon.svg" style="width: 1.2rem; height: 1rem; cursor: pointer;" />
                                    </button>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </custom-card>

            <ngb-tabset class="col-sm-7 tabs-forma-pago">
                <ngb-tab title="Forma de Pago">
                    <ng-template ngbTabContent>
                        <div class="fpago-content">
                            <tabla-forma-pago class="fpago-tabla" [dataTable]="dataTablaFormasPago"
                                (onAddSelecFormaPago)="handleFormaPagoSelec($event)('add')" (onRemoveSelecFormaPago)="handleFormaPagoSelec($event)('remove')">
                            </tabla-forma-pago>

                            <div class="txt-area-container">
                                <label for="cteNro">Detalles:</label>
                                <textarea disabled class="form-control text-area-forma-pago" id="txAreaFPago">{{ detalleListaFpsSeleccionadas }}</textarea>
                            </div>
                        </div>

                    </ng-template>
                </ngb-tab>
                <ngb-tab title="Canje">
                    <ng-template ngbTabContent>

                        <div class="canje-container">
                            <div class="canje-content">
                                <div class="canje-item">
                                    <label for="tipoCompra">Producto:</label>
                                    <select name="clsisCnj" [(ngModel)]="sisCanje" [disabled]="!this.tipoOperacion || this.tipoOperacion.canje !== true"
                                        class="form-control without-padding" id="selectCanje">
                                        <option *ngFor="let canje of sisCanjes | async" [ngValue]="canje">
                                            {{ canje.descripcion }}
                                        </option>
                                    </select>
                                </div>

                                <div class="canje-item">
                                    <label for="cuit">Precio Ref:</label>
                                    <input [disabled]="!this.tipoOperacion || this.tipoOperacion.canje !== true"
                                        [(ngModel)]="sisCanje.precio" name="clSisPrec" type="text" class="form-control" id="cuit"
                                        placeholder="">
                                </div>
                            </div>

                            <div class="canje-content">
                                <div class="canje-item fecha-item">

                                    <label for="fechaCanjeVto">Fec.Vto.: </label>
                                    <div class="input-group">
                                        <input [disabled]="!this.tipoOperacion || this.tipoOperacion.canje !== true" id="fechaCanjeVto"
                                            class="form-control" placeholder="dd/mm/aaaa" name="dp2" [(ngModel)]="sisCanje.fechaVto"
                                            ngbDatepicker #dCompCanje="ngbDatepicker">
                                        <div class="input-group-append">
                                            <button [disabled]="!this.tipoOperacion || this.tipoOperacion.canje !== true"
                                                class="btn btn-outline-secondary" (click)="dCompCanje.toggle()" type="button"
                                                style="height: 100%;">
                                                <img src="assets/img/calendar-icon.svg" style="width: 1.2rem; height: 1rem; cursor: pointer;" />
                                            </button>
                                        </div>
                                    </div>

                                </div>
                                <div class="canje-item">
                                    <label for="cuit">Interes:</label>
                                    <input [disabled]="!this.tipoOperacion || this.tipoOperacion.canje !== true" name="clInters"
                                        [(ngModel)]="sisCanje.interes" type="text" class="form-control" id="cuit"
                                        placeholder="">
                                </div>
                            </div>
                        </div>

                    </ng-template>
                </ngb-tab>
                <ngb-tab title="Cte Relacionado">
                    <ng-template ngbTabContent>
                        <div class="cte-rel-container">
                            <div class="row">
                                <div class="col-sm-5">
                                    <div class="form-group inline-group">
                                        <label for="cteRelTipo">Cte:</label>

                                        <select id="cteRelSelect" name="clCompRelTi" [(ngModel)]="comprobanteRelacionado.tipo" class="form-control without-padding"
                                            [ngStyle]="{padding: '2px 8px 0px 8px'}" id="cteRelTipo">
                                            <option *ngFor="let tipoComp of tiposComprobantesRel | async" [ngValue]="tipoComp">
                                                {{tipoComp.descCorta}}
                                            </option>
                                        </select>
                                    </div>
                                </div>
                                <div class="col-sm-5">
                                    <div class="form-group inline-group">
                                        <label for="cteNro">Nro:</label>
                                        <input [attr.disabled]="comprobanteRelacionado.todosLosPendientes ? '' : null"
                                            (blur)="onBlurNumeroAutocomp($event)('puntoVenta')('comprobanteRelacionado')"
                                            [(ngModel)]="comprobanteRelacionado.puntoVenta" type="text" class="form-control pre-numero-input"
                                            name="clPtoVentRel"
                                            id="puntoVenta" placeholder="">
                                        <input [attr.disabled]="comprobanteRelacionado.todosLosPendientes ? '' : null"
                                            (blur)="onBlurNumeroAutocomp($event)('numero')('comprobanteRelacionado')"
                                            name="clNroRel"
                                            [(ngModel)]="comprobanteRelacionado.numero" type="text" class="form-control"
                                            id="numero" placeholder="">
                                    </div>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-sm-7">
                                    <div class="checkbox-todoPendiente">
                                        <ba-checkbox name="clTodsPends" [(ngModel)]="comprobanteRelacionado.todosLosPendientes" [label]="'Todos los pendientes'"
                                            [ngModelOptions]="{standalone: true}">
                                        </ba-checkbox>
                                    </div>
                                </div>

                                <div class="col-sm-3 btn-container">
                                    <button (click)="onClickBuscarPendientes()" type="submit" class="btn btn-primary">Buscar</button>
                                </div>
                            </div>
                        </div>

                    </ng-template>
                </ngb-tab>
            </ngb-tabset>


        </div>

        <div class="row">
            <ngb-tabset class="col-sm-12 tabs-ingreso">
                <ngb-tab title="Articulos">
                    <ng-template ngbTabContent>

                        <tabla-emision-rem  [data]="tablas.datos.productosPend" 
                                            [columns]="tablas.columnas.columnasProductos"
                                            [remove]="onClickRemove" 
                                            [edit]="onClickEdit('columnasProductos')" 
                                            [confirmEdit]="onClickConfirmEdit('columnasProductos')"
                                            [onClickProductoLista]="onClickProductoLista" 
                                            [enableAddItem]="true" 
                                            [subtotales]="tablas.datos.subtotalesProductos"
                                            [productosObservable]="productos" 
                                            [comprobante]="comprobante">
                        </tabla-emision-rem>

                    </ng-template>
                </ngb-tab>
                <ngb-tab title="Trazable Lotes">
                    <ng-template ngbTabContent>

                        <tabla-emision-rem  [data]="tablas.datos.lotesTraza" 
                                            [columns]="tablas.columnas.columnasTrazabilidad"
                                            [edit]="onClickEdit('columnasTrazabilidad')" 
                                            [confirmEdit]="onClickConfirmEdit('columnasTrazabilidad')">
                        </tabla-emision-rem>

                    </ng-template>
                </ngb-tab>
                <ngb-tab title="Forma Pago">
                    <ng-template ngbTabContent>

                        <tabla-emision-rem [data]="tablas.datos.detallesFormaPago" [columns]="tablas.columnas.columnasDetallesFp"
                            [edit]="onClickEdit('columnasDetallesFp')" [confirmEdit]="onClickConfirmEdit('columnasDetallesFp')">
                        </tabla-emision-rem>

                        <div class="resto-pagar">
                            <label class="resto-pagar-content">Resto Pagar: {{ calcRestoPagar() }}</label>
                        </div>

                    </ng-template>
                </ngb-tab>
                <ngb-tab title="Canje Referencia">
                    <ng-template ngbTabContent>

                        <tabla-emision-rem [data]="tablas.datos.productosCanje" [columns]="tablas.columnas.columnasCanje"
                            [edit]="onClickEdit('columnasCanje')" [confirmEdit]="onClickConfirmEdit('columnasCanje')"
                            [onClickProductoLista]="onClickProductoLista" [productosObservable]="productos">
                        </tabla-emision-rem>

                    </ng-template>
                </ngb-tab>

                <ngb-tab title="">
                    <ng-template ngbTabTitle>
                        <!-- <div (click)="fetchFacturas()">Subtotales</div> -->
                        <div>Subtotales</div>
                    </ng-template>
                    <ng-template ngbTabContent>

                        <div *ngIf="comprobante.tipo && comprobante.tipo.comprobante.idSisComprobantes === 6" class="row factura-filters">
                            <div class="col-sm-3">
                                <div class="form-group inline-group">
                                    <label for="cteTipo">Cte:</label>
                                    <select name="clFactTip" [(ngModel)]="factura.tipo" class="form-control without-padding" [ngStyle]="{padding: '1px 8px 0px 8px'}"
                                        id="cteTipo">
                                        <option *ngFor="let tipoComp of tiposComprobantesFactura | async" [ngValue]="tipoComp">
                                            {{tipoComp.descCorta}}
                                        </option>
                                    </select>
                                </div>
                            </div>

                            <div class="col-sm-1">
                                <div class="form-group inline-group">
                                    <select name="clFactLetra" [(ngModel)]="factura.letra" class="form-control" id="cteTipoFactura">
                                        <option *ngFor="let letra of letras" [ngValue]="letra">
                                            {{letra}}
                                        </option>
                                    </select>
                                </div>
                            </div>

                            <div class="col-sm-2">

                                <div *ngIf="!(factura.tipo && factura.tipo.numerador)" class="form-group inline-group">
                                    <label for="cteNro">Nro:</label>
                                    <select required disabled id="selectPtoVentaNumFac" class="form-control" [ngStyle]="{padding: '1px 8px 0px 8px'}" name="clCompNro">
                                        <option [ngValue]="null">
                                        </option>
                                    </select>
                                </div>
        
                                <div *ngIf="factura.tipo && factura.tipo.numerador" class="form-group inline-group">
                                    <label for="selectPtoVentaNumFac">Nro:</label>
        
                                    <select required id="selectPtoVentaNumFac" class="form-control" [ngStyle]="{padding: '1px 8px 0px 8px'}"
                                        name="factNro" [(ngModel)]="factura.numerador">
                                        <option *ngFor="let upNum of factura.tipo.numerador" [ngValue]="upNum">
                                            {{
                                            upNum.numero.ptoVenta.toString().padStart(4, '0')
                                            }} - {{
                                            upNum.numero.numero.toString().padStart(8, '0')
                                            }}
                                        </option>
                                    </select>
                                </div>

                                <!-- <div class="form-group inline-group">
                                    <label for="selectPtoVentaNumRel">Nro:</label>

                                    <select id="selectPtoVentaNumRel" class="form-control" [ngStyle]="{padding: '1px 8px 0px 8px'}"
                                        name="clFactNro" [(ngModel)]="factura.numerador">
                                        <option *ngFor="let upNum of factura.tipo.numerador" [ngValue]="upNum">
                                            {{
                                            upNum.numero.ptoVenta.toString().padStart(4, '0')
                                            }} - {{
                                            upNum.numero.numero.toString().padStart(8, '0')
                                            }}
                                        </option>
                                    </select>
                                </div> -->
                            </div>

                            <div class="col-sm-3">
                                <div class="form-group inline-group last-child-custom-card">
                                    <label for="fechaComprobante">Fecha Contable</label>
                                    <div class="input-group">
                                        <input (blur)="onCalculateFecha($event)('fechaContable')('factura')"
                                            (keyup.enter)="onCalculateFecha($event)('fechaContable')('factura')" class="form-control"
                                            placeholder="dd/mm/aaaa" name="dp3" [(ngModel)]="factura.fechaComprobante"
                                            ngbDatepicker #dComp="ngbDatepicker">
                                        <div class="input-group-append">
                                            <button class="btn btn-outline-secondary" (click)="dComp.toggle()" type="button"
                                                style="height: 100%;">
                                                <img src="assets/img/calendar-icon.svg" style="width: 1.2rem; height: 1rem; cursor: pointer;" />
                                            </button>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="col-sm-3">
                                <div class="form-group inline-group last-child-custom-card">
                                    <label for="fechaVto">Fecha Vto</label>
                                    <div class="input-group">
                                        <input (blur)="onCalculateFecha($event)('fechaVto')('factura')" (keyup.enter)="onCalculateFecha($event)('fechaVto')('factura')"
                                            id="fechaVtoFactura" class="form-control" placeholder="dd/mm/aaaa" name="dp4"
                                            [(ngModel)]="factura.fechaVto" ngbDatepicker #dVto="ngbDatepicker">
                                        <div class="input-group-append">
                                            <button class="btn btn-outline-secondary" (click)="dVto.toggle()" type="button"
                                                style="height: 100%;">
                                                <img src="assets/img/calendar-icon.svg" style="width: 1.2rem; height: 1rem; cursor: pointer;" />
                                            </button>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>

                        <div class="subtotales-container">
                            <div class="subtotales-titulo">
                                <p>Subtotales</p>
                            </div>

                            <div class="subtotales-content">
                                <tabla-emision-rem [data]="tablas.datos.modelosFactura" [columns]="tablas.columnas.columnasFactura"
                                    [edit]="onClickEdit('columnasFactura')" [confirmEdit]="onClickConfirmEdit('columnasFactura')">
                                </tabla-emision-rem>
                            </div>
                        </div>



                    </ng-template>
                </ngb-tab>

            </ngb-tabset>
        </div>

        <div class="row custom-card-container">
            <custom-card class="col-sm-5 card-observaciones card-flex-column-reverse" title="Observaciones">
                <textarea name="clObser" [(ngModel)]="comprobante.observaciones" class="form-control text-area-observaciones" id="observaciones"></textarea>
            </custom-card>

            <div class="col-sm-5 card-total card-flex-column-reverse">

                <custom-card class=" " title="Totales">
                    <div class="card-total-content">
                        <div class="row">
                            <div class="col-sm-6">
                                <div>
                                    <label class="titulo-cotizacion">Cotizacion Dolar: </label>
                                    <label>{{cotizacionDatos.cotizacion.cotizacion}}</label>
                                </div>
                            </div>

                            <div class="col-sm-6">
                                <div id="fechaComprobante">
                                    <label class="titulo-cotizacion">Fecha: </label>
                                    <label>{{cotizacionDatos.cotizacion.fechaCotizacion | date:'dd/MM/yyyy'}}</label>
                                </div>
                            </div>
                        </div>

                        <!-- <div class="row">
                            <div class="total-comprobante col-sm-6">
                                <label class="titulo-cotizacion">Total Comprobante: </label>
                                <label>{{cotizacionDatos.total}}</label>
                            </div>
                        </div> -->

                        <div class="row">
                            <div class="total-comprobante col-sm-6 total-item">
                                <label class="titulo-cotizacion">Total Neto: </label>
                                <label>{{utilsService.parseDecimal(cotizacionDatos.total)}}</label>
                            </div>

                            <div class="total-comprobante col-sm-6 total-item">
                                <label class="titulo-cotizacion">Total Cte: </label>
                                <label>{{utilsService.parseDecimal(cotizacionDatos.total + sumatoriaSubtotales)}}</label>
                            </div>
                        </div>
                    </div>
                </custom-card>
            </div>

            <custom-card class="col-sm-2 card-flex-column-reverse" title="">
                <div class="col-sm-12 btn-container">
                    <!-- <button [disabled]="!emisionRemitosService.checkIfDatosValidosComprobante(comprobante)
                        (cliente)(tablas.datos.productosPend)(tablas.datos.modelosFactura)(deposito)" -->
                    <button [disabled]="disabledConfirmar()" (click)="onClickConfirmar()" class="btn btn-primary btn-ingreso-from">
                        Confirmar
                    </button>

                    <!-- <button (click)="test()">
                        test
                    </button> -->
                    <button (click)="onClickCancelar()" class="btn btn-primary btn-ingreso-from">
                        Cancelar
                    </button>
                </div>
            </custom-card>
        </div>
    </form>
</ba-card>