@import '../../../../theme/sass/conf/conf';
:host /deep/ .widgets {
    .data-table-container {
        width: 100%;
        padding-top: 1%;
        .panel-heading {
            margin-top: 25px;
        }
    }
}

.data-table-container {

    .panel {
        .table {
            .table-column {
                text-transform: capitalize;
            }

            thead {
                tr th {
                    text-align: center;
                }
            }
    
            tbody {
                tr td {
                    text-align: center;
                }

                .btn-container{
                    display: flex;
                    justify-content: space-evenly;
                    .btn-accion {
                        margin: 2%;
                        font-size: 0.9rem;
                        padding: 5px 9px;
                        cursor: pointer;
                        padding-top: 0;
                    }
                    .btn-editar {
                        i {
                            vertical-align: middle;
                        }
                    }
                }
            }
        }

        .table-striped {
            margin-top: 3%;
        }
    }

    .form-control {
        .sort-option{
            text-transform: capitalize;
        }

    }

    
    
}