<div class="widgets">
    <div class="row">
        <ba-card baCardClass="with-scroll" class="data-table-container">
            <div class="row">
                <div class="col-sm-2">
                    <label class="label-control">Rows on page</label>
                    <select class="form-control input-sm" [(ngModel)]="rowsOnPage">
                        <option [ngValue]="5">5</option>
                        <option [ngValue]="10">10</option>
                        <option [ngValue]="15">15</option>
                    </select>
                </div>

                <div class="col-sm-4">
                    <div class="row">
                        <label class="col-sm-12 label-control" style="padding-left: 9%;">Sort by</label>
                    </div>

                    <div class="row">
                        <div class="offset-sm-1 col-sm-5">
                            <div class="row">
                                <select class="form-control input-sm" [(ngModel)]="sortBy">
                                    <option class="sort-option" *ngFor="let col of columns" ngValue="name">
                                        {{col.nombre}}
                                    </option>
                                </select>
                            </div>
                        </div>

                        <div class="offset-sm-1 col-sm-5">
                            <div class="row">
                                <select class="form-control input-sm" [(ngModel)]="sortOrder">
                                    <option ngValue="asc">Ascending</option>
                                    <option ngValue="desc">Descending</option>
                                    <option ngValue="badValue">Bad value</option>
                                </select>
                            </div>
                        </div>
                    </div>

                </div>

            </div>
            <div class="panel panel-default">
                <table class="table table-striped" [mfData]="data | dataFilter : filterQuery" #mf="mfDataTable" [mfRowsOnPage]="rowsOnPage" [(mfSortBy)]="sortBy" [(mfSortOrder)]="sortOrder">
                    <thead>

                        <tr>
                            <th style="width: 10%"></th>
                            <!-- Recorro y muestro las columnas recibidas en el input -->
                            <th class="table-column" *ngFor="let col of columns" [ngStyle]="getStyleFromCol(col)">
                                <mfDefaultSorter by="name">{{col.nombre}}</mfDefaultSorter>
                            </th>
                        </tr>

                    </thead>
                    <tbody>
                        <tr *ngFor="let item of mf.data">
                            <td class="btn-container">
                                <div (click)="edit(item)" class="btn-accion btn-editar">
                                    <i class="fa fa-pencil-square-o" aria-hidden="true"></i>
                                </div>
                                <div (click)="remove(item)" class="btn-accion btn-remover">
                                    <i class="fa fa-trash" aria-hidden="true"></i>
                                </div>
                            </td>

                            <!-- Si la columna tiene subkey es porque item[col.key] es un objeto, y quiero mostrar una subkey de ese objeto -->
                            <td *ngFor="let col of columns">
                                <div *ngIf="!col.subkey">
                                    {{item[col.key]}}
                                </div>
                                <div *ngIf="col.subkey && !col.subsubkey">
                                    {{(item[col.key])[col.subkey]}}
                                </div>
                                <div *ngIf="col.subsubkey">
                                    {{((item[col.key])[col.subkey])[col.subsubkey]}}
                                </div>
                            </td>
                            
                        </tr>
                    </tbody>
                    <tfoot>
                        <tr>
                            <!-- TODO: Aca cambié de 5 a 12, ver si no tiene consecuencias -->
                            <!-- <td colspan="5"> -->
                            <td colspan="12">
                                <mfBootstrapPaginator [rowsOnPageSet]="[5,10,15]"></mfBootstrapPaginator>
                            </td>
                        </tr>
                    </tfoot>
                </table>
            </div>
        </ba-card>
    </div>
</div>