<div class="nuevo-producto">
    <ba-card cardTitle="Nuevo producto" baCardClass="with-scroll" >
        <div class="row">
            <div class="col-sm-2">
                <div class="form-group">
                    <label for="codProducto">Codigo *</label>
                    <input [(ngModel)]="recurso.codProducto" type="text" class="form-control" id="codProducto">
                </div>
            </div>

            <div class="col-sm-3">
                <div class="form-group">
                    <label for="codigoBarra">Codigo Barra</label>
                    <input [(ngModel)]="recurso.codigoBarra" type="text" class="form-control" id="codigoBarra" placeholder="">
                </div>
            </div>

            <div class="col-sm-5">
                <div class="form-group">
                    <label for="descripcion">Descripcion</label>
                    <input [(ngModel)]="recurso.descripcion" type="text" class="form-control" id="descripcion" placeholder="">
                </div>
            </div>

            <div class="col-sm-2">
                <div class="form-group">
                    <label for="descripcionCorta">Desc Corta</label>
                    <input [(ngModel)]="recurso.descripcionCorta" type="text" class="form-control" id="descripcionCorta" placeholder="">
                </div>
            </div>
        </div>

        <div class="row custom-card">
            <div class="col-sm-9">
                <div class="row">
                    <div class="col-sm-3">
                        <div class="form-group">
                            <label for="rubro">Rubro *</label>
                            <select [(ngModel)]="recurso.rubro" (ngModelChange)="onChangeRubro($event)" class="form-control" id="rubro">
                                <option *ngFor="let rubro of rubros | async" [ngValue]="rubro">
                                    {{rubro.descripcion}}
                                </option>
                            </select>
                        </div>
                    </div>
                    <div class="col-sm-3">
                        <div class="form-group">
                            <label for="subRubro">Sub Rubro *</label>
                            <select [(ngModel)]="recurso.subRubro" class="form-control" id="subRubro">
                                <option *ngFor="let subRubro of subRubros | async" [ngValue]="subRubro">
                                    {{subRubro.descripcion}}
                                </option>
                            </select>
                        </div>
                    </div>
                    <div class="col-sm-3">
                        <div class="form-group">
                            <label for="unidadCompra">Unidad Compra *</label>
                            <select [(ngModel)]="recurso.unidadCompra" class="form-control" id="unidadCompra">
                                <option *ngFor="let uniCompra of unidadesCompra | async" [ngValue]="uniCompra">
                                    {{uniCompra.descripcion}}
                                </option>
                            </select>
                        </div>
                    </div>
                    <div class="col-sm-3">
                        <div class="form-group">
                            <label for="unidadVenta">Unidad Venta *</label>
                            <select [(ngModel)]="recurso.unidadVenta" class="form-control" id="unidadVenta">
                                <option *ngFor="let uniVenta of unidadesVenta | async" [ngValue]="uniVenta">
                                    {{uniVenta.descripcion}}
                                </option>
                            </select>
                        </div>
                    </div>
        
                    <div class="col-sm-3">
                        <div class="checkbox-categ">
                            <ba-checkbox [(ngModel)]="recurso.stock" [label]="'Stock'" [ngModelOptions]="{standalone: true}"></ba-checkbox>
                        </div>
                    </div>
        
                    <div class="col-sm-3">
                        <div class="form-group">
                            <label for="IVA">IVA *</label>
                            <select [(ngModel)]="recurso.IVA" class="form-control text-right-select" id="IVA">
                                <option *ngFor="let iva of ivas | async" [ngValue]="iva">
                                    {{utilsService.parseDecimal(iva.porcIVA)}}
                                </option>
                            </select>
                        </div>
                    </div>
        
                    <div class="col-sm-3">
                        <div class="form-group">
                            <label for="marca">Marca *</label>
                            <select [(ngModel)]="recurso.marca" class="form-control text-right-select" id="marca">
                                <option *ngFor="let mar of marcas | async; let i = index" 
                                        [ngValue]="mar"
                                        [attr.selected]="i == 0 ? true : null">
                                    {{ mar.descripcion }}
                                </option>
                            </select>
                        </div>
                    </div>
                </div>
            </div>

            <div class="col-sm-3">
                <div class="badges-container">
                    <div *ngFor="let cult of recurso.cultivos" class="badge-item">
                        {{ cult.descripcion.substring(0,3).toUpperCase() }}
                    </div>
                </div>
                <div class="cultivos-list">
                    <sexi-list  title="Cultivos"
                                [items]="cultivos"
                                [onCondition]="onConditionCultivo"
                                [onClickEvent]="onClickCultivo"
                                [keysToShow]="['descripcion', 'cosecha']"
                                >
                    </sexi-list>
                </div>
            </div>
        </div>

        <div class="row custom-card">
            <div class="col-sm-4">
                <div class="form-group">
                    <label for="precioVentaProv">Precio Venta Prov *</label>
                    <input [(ngModel)]="recurso.precioVentaProv" type="text" class="form-control text-right" id="precioVentaProv" placeholder="">
                </div>
            </div>
            <div class="col-sm-3">
                <div class="form-group">
                    <label for="costoReposicion">Costo Reposicion *</label>
                    <input [(ngModel)]="recurso.costoReposicion" type="text" class="form-control text-right" id="costoReposicion" placeholder="">
                </div>
            </div>
            <div class="col-sm-3">
                <div class="form-group">
                    <label for="puntoPedido">Punto Pedido *</label>
                    <input [(ngModel)]="recurso.puntoPedido" type="text" class="form-control text-right" id="puntoPedido" placeholder="">
                </div>
            </div>
            <div class="col-sm-2">
                <div class="checkbox-apto-canje">
                    <ba-checkbox [(ngModel)]="recurso.aptoCanje" [label]="'Apto Canje'" [ngModelOptions]="{standalone: true}"></ba-checkbox>
                </div>
            </div>
        </div>

        <div class="row custom-card">
            <div class="col-sm-2">
                <div class="checkbox-traza">
                    <ba-checkbox [(ngModel)]="recurso.trazable" [label]="'Trazable'" [ngModelOptions]="{standalone: true}"></ba-checkbox>
                </div>
            </div>
            <div class="col-sm-2">
                <div class="checkbox-traza">
                    <ba-checkbox [disabled]="!recurso.trazable" [(ngModel)]="recurso.traReceta" [label]="'Receta'" [ngModelOptions]="{standalone: true}"></ba-checkbox>
                </div>
            </div>
            <div class="col-sm-2">
                <div class="checkbox-traza">
                    <ba-checkbox [disabled]="!recurso.trazable" [(ngModel)]="recurso.traInforma" [label]="'Informa'" [ngModelOptions]="{standalone: true}"></ba-checkbox>
                </div>
            </div>
            <div class="col-sm-6">
                <div class="form-group gtin-group">
                    <label for="gtin">GTIN</label>
                    <input [disabled]="!recurso.trazable" [(ngModel)]="recurso.gtin" type="text" class="form-control" id="gtin" placeholder="">
                </div>
            </div>
        </div>


        <div class="row custom-card">
            <div class="col-sm-7">
                <div class="form-group">
                    <label for="observaciones">Observaciones</label>
                    <textarea [(ngModel)]="recurso.observaciones" class="form-control" placeholder="" id="observaciones"></textarea>
                </div>
            </div>

            <div class="offset-sm-2 col-sm-3">
                <div class="form-group">
                    <label for="modeloInputacion">Modelo inputacion *</label>
                    <select [compareWith]="compareWithModeloImpu" [(ngModel)]="recurso.modeloCab" class="form-control" id="modeloCab">
                        <option *ngFor="let modCab of modelosCab | async" [ngValue]="modCab">
                            {{modCab.descripcion}}
                        </option>
                    </select>
                </div>
            </div>
        </div>

        <button [disabled]="utilsService.checkIfIncomplete(recurso)([
                                'idProductos',
                                'codigoBarra',
                                'aptoCanje',
                                'stock',
                                'trazable',
                                'traReceta',
                                'traInforma',
                                'IVA',
                                'descripcionCorta',
                                'descripcion',
                                'gtin',
                                'observaciones',
                                'editar'
                            ])()"
                (click)="onClickCrear()" type="submit" class="btn btn-primary">Confirmar</button>
    </ba-card>

</div>
