<div class="panel panel-default tabla-ingreso">
    <table class="table table-striped" [mfData]="data | dataFilter : filterQuery" #mf="mfDataTable" [mfRowsOnPage]="rowsOnPage" [(mfSortBy)]="sortBy" [(mfSortOrder)]="sortOrder">
        <thead>
            <tr>
                <th *ngIf="edit || remove" style="width: 10%; border-top: none;"></th>
                <!-- Recorro y muestro las columnas recibidas en el input -->
                <th class="table-column" *ngFor="let col of columns" [ngStyle]="getStyleFromCol(col)">
                    <mfDefaultSorter by="name">{{col.nombre}}</mfDefaultSorter>
                </th>
            </tr>

        </thead>
        <tbody>
            <tr *ngFor="let item of mf.data">
                <td *ngIf="edit || remove" class="btn-container">
                    <div *ngIf="edit" (click)="edit(item)" class="btn-accion btn-editar">
                        <i class="fa fa-pencil-square-o" aria-hidden="true"></i>
                    </div>
                    <div *ngIf="remove" (click)="remove(item)" class="btn-accion btn-remover">
                        <i class="fa fa-trash" aria-hidden="true"></i>
                    </div>
                    <div *ngIf="checkIfEditOn(item)" (click)="confirmEdit(item)" class="btn-accion btn-remover">
                        <i class="fa fa-check" aria-hidden="true"></i>
                    </div>
                </td>

                <td *ngFor="let col of columns">
                    <div *ngIf="col.subkey">
                        <div *ngIf="!col.enEdicion || col.enEdicion !== item.producto.idProductos">
                            {{parseKey(item[col.key][col.subkey])}}
                        </div>

                        <div *ngIf="col.enEdicion && col.enEdicion === item.producto.idProductos">
                            <input *ngIf=" (col.nombre !== 'trazable' && col.key !== 'trazabilidad') ||
                                            (col.key === 'trazabilidad' && col.subkey !== 'fechaElab' && col.subkey !== 'fechaVto')"
                                [(ngModel)]="item[col.key][col.subkey]" style="margin: 4px 6px;" type="text" 
                                class="form-control edit-input" id="inputSubKey" placeholder="">

                            <div *ngIf="col.key === 'trazabilidad' && (col.subkey === 'fechaElab' || col.subkey === 'fechaVto')" class="datepicker-datelikepicker">
                                <input [attr.id]="'fecha-' + col.subkey" (blur)="onCalculateFecha($event)(col.key)(col.subkey)(item)" (keyup.enter)="onCalculateFecha($event)(col.key)(col.subkey)(item)" class="form-control" placeholder="dd-mm-yyyy" name="dp" [(ngModel)]="item[col.key][col.subkey]" ngbDatepicker #dComp="ngbDatepicker">
                                <div class="input-group-append">
                                    <button class="btn btn-outline-secondary" (click)="dComp.toggle()" type="button" style="height: 100%;">
                                        <img src="assets/img/calendar-icon.svg" style="width: 1.2rem; height: 1rem; cursor: pointer;" />
                                    </button>
                                </div>
                            </div>

                        </div>
                        
                    </div>

                    <div *ngIf="!col.subkey">
                        <div *ngIf="!col.enEdicion || col.enEdicion !== item.producto.idProductos">
                            <div *ngIf="col.nombre !== 'imputacion'">
                                {{parseKey(item[col.key])}}
                            </div>

                            <!-- CASOS PARTICULARES -->
                            <div *ngIf="col.nombre === 'imputacion'">
                                {{ item[col.key] && item[col.key].seleccionada ? item[col.key].seleccionada.descripcion : ''}}
                            </div>

                        </div>
                        <div *ngIf="col.enEdicion && col.enEdicion === item.producto.idProductos">

                            
                            <input  *ngIf=" (col.nombre !== 'imputacion' && col.key !== 'trazabilidad')"
                                    [(ngModel)]="item[col.key]"  style="margin: 4px 6px;" type="text" 
                                    class="form-control edit-input" id="inputSubKey" placeholder="">
                            
                            <select *ngIf="col.nombre === 'imputacion'" [(ngModel)]="item[col.key].seleccionada" class="form-control without-padding" >
                                <option *ngFor="let impu of item[col.key].todas" [ngValue]="impu">
                                    {{impu.descripcion}}
                                </option>
                            </select>
<!-- 
                            <div *ngIf="col.key === 'trazabilidad' && (col.subkey === 'fechaElab' || col.subkey === 'fechaVto')" class="datepicker-item">
                                <div class="input-group">
                                    <input class="form-control" placeholder="yyyy-mm-dd" name="dp" [(ngModel)]="item[col.key]" ngbDatepicker #dComp="ngbDatepicker">
                                    <div class="input-group-append">
                                        <button class="btn btn-outline-secondary" (click)="dComp.toggle()" type="button" style="height: 100%;">
                                            <img src="assets/img/calendar-icon.svg" style="width: 1.2rem; height: 1rem; cursor: pointer;" />
                                        </button>
                                    </div>
                                </div>
                            </div> -->

                        </div>
                    </div>
                </td>
            </tr>

        </tbody>
        <tfoot>
            <tr>
                <td colspan="12" style="border-top: none">
                    <mfBootstrapPaginator [rowsOnPageSet]="[5,10,15]"></mfBootstrapPaginator>
                </td>
            </tr>
        </tfoot>
    </table>

    <div *ngIf="enableAddItem" class="footer-table">
        <div class="buscar-producto">
            <div class="form-group inline-group">
                <label class="add-item-label" for="addInput">Buscar producto: </label>
                <input  [(ngModel)]="textoBusqueda" type="text" class="form-control" id="addInput" placeholder="" 
                        (blur)="onBlurInputItemAdd()" (ngModelChange)="onChangeInputItemAdd($event)">
            </div>
    
            <popup-lista    *ngIf="textoBusqueda && textoBusqueda.length > 0"
                            [items]="productosBusqueda.filtrados" 
                            [keysToShow]="['producto.descripcion', 'producto.codProducto']" 
                            [onClickItem]="onClickProductoLista" 
                            [fatherPosition]="getOffsetOfAddInput()">
            </popup-lista>
        </div>

        <div class="deposito">
            <div class="form-group inline-group">
                <label class="add-item-label" for="depositoInput">Deposito: </label>
                <select [compareWith]="utilsService.dropdownCompareWith" [(ngModel)]="auxDepositoSelect" (ngModelChange)="onSelectDeposito($event)"  class="form-control without-padding">
                    <option *ngFor="let dep of depositos" [ngValue]="dep">
                        {{dep.descripcion}}
                    </option>
                </select>
            </div>
        </div>
    </div>
</div>