<div class="panel panel-default tabla-ingreso">
    <table class="table table-striped" [mfData]="data | dataFilter : filterQuery" #mf="mfDataTable" [mfRowsOnPage]="rowsOnPage" [(mfSortBy)]="sortBy" [(mfSortOrder)]="sortOrder">
        <thead>
            <tr>
                <th *ngIf="edit || remove" style="width: 10%; border-top: none;"></th>
                <!-- Recorro y muestro las columnas recibidas en el input -->
                <th class="table-column" *ngFor="let col of columns" [ngStyle]="getStyleFromCol(col)">
                    <mfDefaultSorter by="name">{{col.nombre}}</mfDefaultSorter>
                </th>
            </tr>

        </thead>
        <tbody>
            <tr *ngFor="let item of mf.data">
                <td *ngIf="edit || remove" class="btn-container">
                    <div *ngIf="edit" (click)="edit(item)" class="btn-accion btn-editar">
                        <i class="fa fa-pencil-square-o" aria-hidden="true"></i>
                    </div>
                    <div *ngIf="remove" (click)="remove(item)" class="btn-accion btn-remover">
                        <i class="fa fa-trash" aria-hidden="true"></i>
                    </div>
                    <div *ngIf="checkIfEditOn(item)" (click)="confirmEdit(item)" class="btn-accion btn-remover">
                        <i class="fa fa-check" aria-hidden="true"></i>
                    </div>
                </td>

                <td *ngFor="let col of columns">
                    <div *ngIf="col.subkey">
                        <div *ngIf="!col.enEdicion || col.enEdicion !== item[utilsService.getNameIdKeyOfResource(item)]">
                            {{parseKey(item[col.key][col.subkey])}}
                        </div>

                        <div *ngIf="col.enEdicion && col.enEdicion === item[utilsService.getNameIdKeyOfResource(item)]">
                            <input *ngIf="col.nombre !== 'trazable'"
                                [(ngModel)]="item[col.key][col.subkey]"  style="margin: 4px 6px;" type="text" 
                                class="form-control edit-input" id="inputSubKey" placeholder="">

                            <div *ngIf="col.nombre === 'trazable'" class="checkbox-traza">
                                <input type="checkbox" [(ngModel)]="item[col.key][col.subkey]" [value]="value">
                            </div>
                        </div>
                        
                    </div>

                    <div *ngIf="!col.subkey">
                        <div *ngIf="!col.enEdicion || col.enEdicion !== item[utilsService.getNameIdKeyOfResource(item)]">
                            <div *ngIf="col.nombre !== 'imputacion'">
                                {{parseKey(item[col.key])}}
                            </div>

                            <!-- CASOS PARTICULARES -->
                            <div *ngIf="col.nombre === 'imputacion'">
                                {{item[col.key].seleccionada.descripcion}}
                            </div>

                        </div>
                        <div *ngIf="col.enEdicion && col.enEdicion === item[utilsService.getNameIdKeyOfResource(item)]">

                            <!-- CASOS POR TIPO DATO -->
                            <input  *ngIf=" (
                                                utilsService.getTipoDato(item[col.key]) === 'String' || 
                                                utilsService.getTipoDato(item[col.key]) === 'Number' ||
                                                utilsService.getTipoDato(item[col.key]) === null
                                            ) && (
                                                col.nombre !== 'imputacion'
                                            )"
                                    [(ngModel)]="item[col.key]"  style="margin: 4px 6px;" type="text" 
                                    class="form-control edit-input" id="inputSubKey" placeholder="">

                            

                            <!-- Si el tipo de dato es Date, pongo un datepicker -->
                            <div class="datepicker-item" *ngIf="utilsService.getTipoDato(item[col.key]) === 'DateLikePicker' ||
                                                                (item[col.key] && item[col.key].year && item[col.key].month && item[col.key].day)">
                                <div class="input-group">
                                    <input class="form-control" placeholder="yyyy-mm-dd" name="dp" [(ngModel)]="item[col.key]" ngbDatepicker #dComp="ngbDatepicker">
                                    <div class="input-group-append">
                                        <button class="btn btn-outline-secondary" (click)="dComp.toggle()" type="button" style="height: 100%;">
                                            <img src="assets/img/calendar-icon.svg" style="width: 1.2rem; height: 1rem; cursor: pointer;" />
                                        </button>
                                    </div>
                                </div>
                            </div>

                            <!-- CASOS PARTICULARES -->
                            <select *ngIf="col.nombre === 'imputacion'" [(ngModel)]="item[col.key].seleccionada" class="form-control without-padding" >
                                <option *ngFor="let impu of item[col.key].todas" [ngValue]="impu">
                                    {{impu.descripcion}}
                                </option>
                            </select>

                        </div>
                    </div>
                </td>
            </tr>

        </tbody>
        <tfoot>
            <tr>
                <td colspan="12" style="border-top: none">
                    <mfBootstrapPaginator [rowsOnPageSet]="[5,10,15]"></mfBootstrapPaginator>
                </td>
            </tr>
        </tfoot>
    </table>

    <div *ngIf="enableAddItem" class="add-item-container">
        <div class="col-sm-4 form-group inline-group">
            <label class="add-item-label" for="addInput">Buscar producto: </label>
            <input  [(ngModel)]="textoBusqueda" type="text" class="form-control" id="addInput" placeholder="" 
                    (blur)="onBlurInputItemAdd()" (ngModelChange)="onChangeInputItemAdd($event)">
        </div>

        <popup-lista    *ngIf="textoBusqueda && textoBusqueda.length > 0"
                        [items]="productosBusqueda.filtrados" 
                        [keysToShow]="['descripcion', 'codProducto']" 
                        [onClickItem]="onClickProductoLista" 
                        [fatherPosition]="getOffsetOfAddInput()">
        </popup-lista>
    </div>
</div>