.comprobante-compra {
    
    // .inline-group {
    //     display: flex;
    //     label {
    //         padding: 2% 3% 0% 0%;
    //     }
    // }

    .checkbox-todoPendiente {
        padding-left: 5%;
    }

    .tabs-ingreso {
        padding: 1.5%;

        .subtotales-container {
            padding: 0 5% 1%;
            display: flex;
            .subtotales-titulo {
                font-size: 1rem;

                margin: 3px 24px 0px 0;
            }

            .subtotales-content {
                border-radius: 7px;
                background: #d4d4de;

                td {
                    border-top: 0px !important;
                }
            }
        }
    }

    .lista-filtrada-proveedores {
        position: absolute;
        z-index: 9999999;
        /* opacity: 0; */
        top: 81px;
        left: 77px;
    }

    .tipo-compra-dropdown {
        padding: 0 2%;
        margin-bottom: 1px;
    }

    .custom-card {
        .custom-card-content {
            .inline-group {
                .without-padding {
                    padding: 2px 8px 0px 8px !important;
                }
            }

            .observaciones {
                margin-bottom: 2px;
            }

            .text-area-observaciones {
                
            }
        }
        
    }

    .custom-card-container {
        .card-observaciones {
            .observaciones {
                padding: 1%;
            }
        }

        .card-total {
            .card-total-content {
                padding: 1.7%;

                .total-item {
                    display: flex;
    justify-content: space-between;
                }
            }

        }
        
        .deposito {
            display: flex;
            justify-content: flex-end;
            margin-top: 8px;
            div {
                margin-bottom: 5px;
                width: 50%;
            }

            .padding-content {
                margin-bottom: 0 !important;
            }
        }

        .card-comprobantes {

            height: 138px;
            :host /deep/.custom-card {
                height: 100% !important;
            }
        }
        
    }

    .btn-container {
        display: flex;
        flex-direction: column;
        .btn-ingreso-from {
            float: none;
            margin: 7% 0;
        }
    }

    .total-comprobante {
        padding-top: 2%;
    }

    .titulo-cotizacion {
        font-weight: bold;
    }

    .card-flex-column {
        display: flex;
        // flex-direction: column-reverse;
        flex-direction: column;
    }

    .pre-numero-input {
        width: 30%;
        margin-right: 3px;
    }

    .comp-relacionado-container {
        display: flex;
        flex-direction: column;
    }
}



.without-padding {
    padding: 0;
}

.inline-flex {
    display: inline-flex
}