<div class="nueva-forma-pago">
    <ba-card cardTitle="Nuevo forma pago" baCardClass="with-scroll">
        <div class="row">
            <div class="col-sm-6">
                <div class="form-group">
                    <label for="descripcion">Descripcion</label>
                    <input [(ngModel)]="recurso.descripcion" type="text" class="form-control" id="descripcion" placeholder="Descripcion de la forma de pago">
                </div>
            </div>
            <div class="col-sm-6">
                <div class="form-group">
                    <label for="tipoFormaPago">Tipo forma pago</label>
                    <select [(ngModel)]="recurso.tipo" class="form-control" id="rubro">
                        <option *ngFor="let tipo of tiposFormaPago | async" [ngValue]="tipo">
                            {{tipo.descripcion}}
                        </option>
                    </select>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-sm-6">
                <div class="form-group">
                    <label for="listaPrecio">Lista precio</label>
                    <select [(ngModel)]="recurso.listaPrecio" class="form-control" id="listaPrecio">
                        <option *ngFor="let lista of listasPrecios | async" [ngValue]="lista">
                            {{lista.condiciones}}
                        </option>
                    </select>
                </div>
            </div>
        </div>

        <button (click)="onClickCrear()" type="submit" class="btn btn-primary">Confirmar</button>
    </ba-card>

</div>
