<div class="tabla-forma-pago">
    <table style="width:100%">
        <tr>
            <th></th>
            <th>F.Pago</th>
            <th>Lista</th>
            <th>Detalle</th>
        </tr>
    
        <tr *ngFor="let fp of data | async">
            <td>
                <input class="checkbox-td" type="checkbox"/>
                <!-- <ba-checkbox [(ngModel)]="test" [label]="''" [ngModelOptions]="{standalone: true}"></ba-checkbox> -->
            </td>
            <td>{{ fp.descripcion }}</td>
            <td>{{ fp.listaPrecio.idListaPrecio }}</td>
            <td>{{ fp.descripcion }}</td>
    
            <!-- <td>{{ fp.descripcion }}</td>
            <td>{{ fp.listaPrecio.idListaPrecio }}</td>
            <td>{{ fp.descripcion }}</td>  -->
        </tr>
    </table> 
</div>