// Custom global styles
.form-control:focus {
    background: rgba(0, 76, 102, 0.09);
}

.text-right {
    text-align: right;
}

select {
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
    min-width: 35px;
//    background-image: url(...);   /* add custom arrow */
}
