<div class="nuevo-tipo-comprobante">
    <ba-card cardTitle="Nuevo tipo comprobante" baCardClass="with-scroll">
        <div class="row">
            <div class="col-sm-4">
                <div class="form-group">
                    <label for="inputFirstName">Codigo</label>
                    <input [(ngModel)]="recurso.codigoComp" type="text" class="form-control" id="codigoComp" placeholder="Codigo">
                </div>
            </div>
            <div class="col-sm-4">
                <div class="form-group">
                    <label for="inputEmail">Descripcion Corta</label>
                    <input [(ngModel)]="recurso.descCorta" type="email" class="form-control" id="descCorta" placeholder="Desc Corta">
                </div>
            </div>
            <div class="col-sm-4">
                <div class="form-group">
                    <label for="Clave">Descripcion</label>
                    <input [(ngModel)]="recurso.descripcion" type="text" class="form-control" id="descripcion" placeholder="Descripcion">
                </div>
            </div>
        </div>
        
        <div class="row">

            <div class="col-sm-4">
                <div class="form-group">
                    <label for="inputEmail">Codigo Afip</label>
                    <input [(ngModel)]="recurso.codigoAfip" type="text" class="form-control" id="codigoAfip" placeholder="Codigo Afip">
                </div>
            </div>
            
            <div class="col-sm-4">
                <div class="form-group">
                    <label for="Clave">D/H</label>
                    <input [(ngModel)]="recurso.surenu" type="text" class="form-control" id="surenu" placeholder="D/H">
                </div>
            </div>

            <div class="col-sm-4">
                <div class="checkbox-curso-legal">
                    <ba-checkbox [(ngModel)]="recurso.cursoLegal" [label]="'Curso Legal'" [ngModelOptions]="{standalone: true}"></ba-checkbox>
                </div>
            </div>
        </div>
        
        <div class="row">
            <div class="col-sm-4">
                <div class="form-group">
                    <label for="comprobante">Tipo</label>
                    <select [(ngModel)]="recurso.comprobante" class="form-control" id="comprobante">
                        <option *ngFor="let comp of sisComprobantes | async" [ngValue]="comp">
                            {{comp.descripcion}}
                        </option>
                    </select>
                </div>
            </div>
            <div class="col-sm-8">
                <div class="form-group">
                    <label for="inputFirstName">Observaciones</label>
                    <input [(ngModel)]="recurso.observaciones" type="text" class="form-control" id="observaciones" placeholder="Observaciones">
                </div>
            </div>
        </div>
        
        <button [disabled]="utilsService.checkIfIncomplete(recurso)([
            'idCteTipo', 'cursoLegal', 'numerador', 'observaciones'
        ])(checkSurEnu)"
                (click)="onClickCrearTipoComprobante()" 
                type="submit" 
                class="btn btn-primary">
            Confirmar
        </button>
    </ba-card>

</div>