<div class="nuevo-tipo-comprobante">
    <ba-card cardTitle="Nuevo tipo comprobante" baCardClass="with-scroll">
        <div class="row">
            <div class="col-sm-4">
                <div class="form-group">
                    <label for="inputFirstName">Codigo</label>
                    <input [(ngModel)]="recurso.codigoComp" type="text" class="form-control" id="codigoComp" placeholder="Codigo">
                </div>
            </div>
            <div class="col-sm-4">
                <div class="form-group">
                    <label for="inputEmail">Descripcion Corta</label>
                    <input [(ngModel)]="recurso.descCorta" type="email" class="form-control" id="descCorta" placeholder="Desc Corta">
                </div>
            </div>
            <div class="col-sm-4">
                <div class="form-group">
                    <label for="Clave">Descripcion</label>
                    <input [(ngModel)]="recurso.descripcion" type="text" class="form-control" id="descripcion" placeholder="Descripcion">
                </div>
            </div>
        </div>
        
        <div class="row">
            <div class="col-sm-4">
                <div class="form-group">
                    <label for="inputFirstName">Curso Legal</label>

                    <div class="radio-curso-legal">
                        <div class="col-md-4">
                            <label class="radio-inline custom-radio nowrap">
                                <input type="radio" name="inlineRadioOptions" id="inlineRadio1" [value]="true" [(ngModel)]="recurso.cursoLegal">
                                <span>Si</span>
                            </label>
                        </div>
                        <div class="col-md-4">
                            <label class="radio-inline custom-radio nowrap">
                                <input type="radio" name="inlineRadioOptions" id="inlineRadio2" [value]="false" [(ngModel)]="recurso.cursoLegal">
                                <span>No</span>
                            </label>
                        </div>
                    </div>

                    <!-- <input [(ngModel)]="recurso.cursoLegal" type="text" class="form-control" id="cursoLegal" placeholder="Curso legal"> -->
                </div>
            </div>
            <div class="col-sm-4">
                <div class="form-group">
                    <label for="inputEmail">Codigo Afip</label>
                    <input [(ngModel)]="recurso.codigoAfip" type="text" class="form-control" id="codigoAfip" placeholder="Codigo Afip">
                </div>
            </div>
            <div class="col-sm-4">
                <div class="form-group">
                    <label for="Clave">D/H</label>
                    <input [(ngModel)]="recurso.surenu" type="text" class="form-control" id="surenu" placeholder="D/H">
                </div>
            </div>
        </div>
        
        <div class="row">
            <div class="col-sm-4">
                <div class="form-group">
                    <label for="listaPrecio">SisComprobante</label>
                    <select [(ngModel)]="recurso.listaPrecio" class="form-control" id="listaPrecio">
                        <option *ngFor="let lista of listasPrecios | async" [ngValue]="lista">
                            {{lista.condiciones}}
                        </option>
                    </select>
                </div>
            </div>
            <div class="col-sm-8">
                <div class="form-group">
                    <label for="inputFirstName">Observaciones</label>
                    <input [(ngModel)]="recurso.observaciones" type="text" class="form-control" id="observaciones" placeholder="Observaciones">
                </div>
            </div>
        </div>
        
        <button [disabled]="utilsService.checkIfIncomplete(recurso)()"
                (click)="onClickCrearTipoComprobante()" 
                type="submit" 
                class="btn btn-primary">
            Confirmar
        </button>
    </ba-card>

</div>